@import "compass/css3";
.elgg-avatar {
	position: relative;
	& > a {
		display: inline-block;
		width: 100%;
	}
	&.elgg-avatar-circle {
		& > .elgg-image, & > a, & > a > .elgg-image {
			@include border-radius(1000px);
			overflow: hidden;
		}
	}
	&.elgg-avatar-rounded {
		& > .elgg-image, & > a, & > a > .elgg-image {
			@include border-radius(3px);
			overflow: hidden;
		}
	}

	&.elgg-avatar-square {
		& > .elgg-image, & > a, & > a > .elgg-image {
			@include border-radius(0px);
			overflow: hidden;
		}
	}

	.elgg-avatar-image {
		width: 100%;
		height: auto;
		display: block;
	}
	&, &:hover {
		.elgg-icon-hover-menu {
			display: none;
			padding: 0;
			font-size: 12px;
			background: #666;
			background: rgba(#666, 0.6);
			color: white;
			border: 1px solid #fff;
			border-radius: 20px;
			position: absolute;
			bottom: 0;
			right: 0;
			cursor: pointer;
			width: 16px !important;
			height: 16px !important;
			max-width: 100%;
			max-height: 100%;
			&:before {
				position: absolute;
				margin: -6px auto 0;
				left: 0;
				right: 0;
				width: 100%;
				text-align: center;
				top: 50%;
			}
		}
	}

	.elgg-menu-topbar &.elgg-avatar-topbar {
		// fix for topbar icon
		max-width: none;
		max-height: none;
	}
}

.elgg-gallery:not(.elgg-gallery-users) > li > .elgg-avatar:only-child {
    margin: 3px;
}